src/flows/User_Auto_Create_Internal_Contact-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Check to see if the user record was found</description>
        <name>Did_we_find_the_User</name>
        <label>Did we find the User?</label>
        <locationX>216</locationX>
        <locationY>24</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_for_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found the User</defaultConnectorLabel>
        <rules>
            <name>User_not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User not Found</label>
        </rules>
    </decisions>
    <description>Used with Process to create an internal contact for users and update the user record with the contact Id
Simple</description>
    <formulas>
        <description>global variable for current user email</description>
        <name>CurrentUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>The default internal account id - must be updated</description>
        <name>DefaultInternalAccount</name>
        <dataType>String</dataType>
        <expression>&quot;&quot;</expression>
    </formulas>
    <interviewLabel>User: Auto Create Internal Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: Auto Create Internal Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_for_User</name>
        <label>Create Contact for User</label>
        <locationX>451</locationX>
        <locationY>240</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>InternalAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>thisUser.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Internal Contact create by Workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoNotCall</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>thisUser.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>thisUser.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>thisUser.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Internal Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>thisUser.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>thisUser.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>thisUser.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>thisUser.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>thisUser.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matching_User__c</field>
            <value>
                <elementReference>thisUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>thisUser.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>thisUser.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>thisUser.Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <description>Lookup the user that started the flow</description>
        <name>Lookup_thisUser</name>
        <label>Lookup thisUser</label>
        <locationX>42</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_the_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisUser.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>thisUser.City</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisUser.Department</assignToReference>
            <field>Department</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisUser.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisUser.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisUser.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisUser.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisUser.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisUser.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisUser.PostalCode</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisUser.State</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisUser.Street</assignToReference>
            <field>Street</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisUser.Title</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update the User record with the Contact Id.</description>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>456</locationX>
        <locationY>343</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisUser.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Internal_Contact_Id__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <startElementReference>Lookup_thisUser</startElementReference>
    <textTemplates>
        <name>AdminEmailBody</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;There was no user found when the Flow Auto Create Internal Contacts was fired at &lt;FONT KERNING=&quot;1&quot;&gt;{!$Flow.CurrentDateTime}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Launched by: {!CurrentUserName}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyNoAccountFound</name>
        <text>No office account was fount for the internal contact for {!thisUser.Name}

User: {!thisUser.Name}
Office: {!thisUser.Office__c}
Default Office: {!DefaultInternalAccount}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <text>Auto Create User Contact: Variable Not Found</text>
    </textTemplates>
    <variables>
        <description>The Id of the User Contact created</description>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to hold the Id of the Internal Account found.

Update the Master Interna;l Account custom label to hold the default internal account for users</description>
        <name>InternalAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>the user that was created and started the flow</description>
        <name>thisUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>